/* Home page styles */
.home-container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 5px;
  align-items: center;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.home-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 10px 0 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.home-container h3 {
  margin-bottom: 5px;
}

.home-option-btn {
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  box-sizing: border-box;
  font-size: 15px;
}

header p {
  margin: 0;
  color: rgb(57, 57, 255);
}

.notice {
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 199);
  margin: 20px 7%;
  box-sizing: border-box;
  text-align: left;
  padding-left: 20px;
}

.notice h4 {
  margin: 20px 0 2px;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

.notice p {
  margin-top: 0;
  font-size: 15px;
  margin-bottom: 20px;
}
