.form-section {
  background-color: white;
  width: 95%;
  max-width: 800px;
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.section-group {
  margin-bottom: 35px;
  padding-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: #002b80;
  margin-bottom: 20px;
  padding-left: 10px;
}

.form-row {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.form-row-tri {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.input-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-box label {
  font-weight: bold;
  font-size: 14px;
  color: #222;
  margin-top: 10px;
  display: block;
}

input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 15px;
  transition: all 0.3s ease;
}

input:focus, select:focus {
  border-color: #002b80;
  box-shadow: 0 0 5px rgba(0, 43, 128, 0.2);
  outline: none;
}

.form-row-tri {
  gap: 15px;
}
.form-row-tri input {
  margin-top: 5px;
}

.sub-label {
  font-size: 13px;
  font-weight: 600;
  color: #555;
  margin-bottom: 0px;
}

.submit-btn {
  width: 100%;
  padding: 16px;
  background-color: #002b80;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #0044cc;
  transform: translateY(-2px);
}

/* Responsive cho điện thoại */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    gap: 15px;
  }
}