.form-section {
  background-color: white;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.form-section h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
}

label span {
  color: red;
}

input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

input:focus {
  border-color: #002b80;
}

.submit-btn {
  background-color: #002b80;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}